<!DOCTYPE html>
<html>
  <body>
    <h1>Busca de Endereço</h1>
    <form action = '/' method = 'get'>
      <input name = 'url'/>
      <button>GET</button>
    </form>

    <div>
      <%= result.empty? ? 'endereço inválido' : result %>
    </div>
  </body>
</html>
