<!DOCTYPE html>
<html>
  <body>
    <h1>Busca de Endereço</h1>
    <form action = '/' method = 'get'>
      <input name = 'url'/>
      <button>GET</button>
    </form>

    <div>
      <%if result != nil%>
        <%= result %>
      <%else%>
        <h2>Endereço Inválido</h2>
      <%end%>
    </div>
  </body>
</html>
